<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Poker.</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
          <br>
          <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-glass" aria-hidden="true"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Bar</h4>
              <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
              <a href="#pkp" class="btn btn-link btn-danger" routerLink="/bar">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Gastronomie</h4>
              <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
              <a href="#pkp" class="btn btn-link btn-danger" routerLink="/bar">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-coffee" aria-hidden="true"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Good Coffee</h4>
              <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
              <a href="#pkp" class="btn btn-link btn-danger" routerLink="coffee">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-beer" aria-hidden="true"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Perfect Beer</h4>
              <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
              <a href="#pkp" class="btn btn-link btn-danger" routerLink="beer">See more</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
