<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/images/flags/US.png"/>
            English(US)
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><img src="assets/images/flags/DE.png"/> Deutsch</a></li>
            <li><a href="#"><img src="assets/images/flags/GB.png"/> English(UK)</a></li>
            <li><a href="#"><img src="assets/images/flags/FR.png"/> Français</a></li>
            <li><a href="#"><img src="assets/images/flags/RO.png"/> Română</a></li>
            <li><a href="#"><img src="assets/images/flags/IT.png"/> Italiano</a></li>

            <li class="divider"></li>
            <li><a href="#"><img src="assets/images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
            <li><a href="#"><img src="assets/images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
            <li><a href="#"><img src="assets/images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
            <li><a href="#"><img src="assets/images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>

          </ul>
        </li>

      </ul>
    </div>
    <div class="navbar-translate">

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="btn btn-link navbar-brand" title="Home" href="/"><i class="fa fa-glass" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link navbar-brand" title="choose your restaurant" (click)="this.navigateTo('/restaurant')">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link navbar-brand" title="choose your bar" (click)="this.navigateTo('/bar')">Bar</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link navbar-brand" title="choose your coffee" (click)="this.navigateTo('/coffee')">Coffee</a>
        </li>
        <li>
          <a class="btn btn-link navbar-brand" title="choose your beer" (click)="this.navigateTo('/beer')">Beer</a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="navbar-brand">Login</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-outline-light btn-round align-content-center">Sing Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




