<nav class="navbar navbar-light bg-light">
  <ul class="form-inline">
    <button class="btn btn-sm btn-outline-dark ml-2"
            type="button"
            id="getCoffees"
            (click)="onGetCoffees()">All</button>
    <button class="btn btn-sm btn-outline-dark ml-2"
            type="button"
            (click)="onGetSelectedCoffee()">Selected</button>
    <button class="btn btn-sm btn-outline-dark ml-2" type="button" (click)="onGetAvailableCoffee()">Available</button>
    <a class="btn btn-sm btn-outline-dark ml-2" routerLink="/coffee/newCoffee">New</a>
  </ul>

  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #formInput="ngForm" class="form-inline" (ngSubmit)="onSearchCoffeeByName(formInput.value.keyWord)">
        <input ngModel name="keyWord" class="form-control" type="text" placeholder="Saisie votre texte">
        <button class="btn btn-sm btn-outline-dark ml-2">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
