<nav class="navbar navbar-light bg-light">
  <ul class="form-inline">
    <button class="btn btn-outline-default btn-round"
            type="button"
            id="getCoffees"
            (click)="onGetCoffees()">All</button>
    <button class="btn btn-outline-default btn-round"
            type="button"
            (click)="onGetSelectedCoffee()">Selected</button>
    <button class="btn btn-outline-default btn-round" type="button" (click)="onGetAvailableCoffee()">Available</button>
    <a class="btn btn-outline-default btn-round" routerLink="/coffee/newCoffee">New</a>
  </ul>
</nav>
<app-filter></app-filter>


