<mdb-carousel [controls]="true" [indicators]="true" [dark]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="assets/img/uriel-soberanes.jpg"
        class="d-block w-100"
        alt="Welcome to your world">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to your world</h5>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="assets/images/restaurant.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Choose your restaurant</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="assets/images/header/bar/bar_1.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Choose your bar</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="assets/images/coffee.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Choose your coffee</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/images/header/beer/beer_1.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Choose our beer</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
</mdb-carousel>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Poker.</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
          <br>
          <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Bar</h4>
              <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Gastronomie</h4>
              <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Good Coffee</h4>
              <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Perfect Beer</h4>
              <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-about-us></app-about-us>
<app-customer-feed-back></app-customer-feed-back>
