<div class="wrapper">
  <div id="presentation" class="page-header section-dark" style="background-image: url('assets/images/restaurant.jpg')">

    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Restaurant</h1>
          <div class="content">
            <h4 id="sub-title" class="motto">The smallest little eatery in town with the biggest taste.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="cover black" data-color="black"></div>


    <div class="moving-clouds" style="background-image: url('assets/images/clouds.png'); "></div>
  </div>
</div>
<app-restaurant-list></app-restaurant-list>
<app-product-top></app-product-top>
<app-customer-feed-back></app-customer-feed-back>
