<div>
  <ul>
    <div class="container overflow-auto">
      <ng-container class="container" *ngIf="(coffees$ | async) as coffee" [ngSwitch]="coffee.dataState">
        <ng-container class="alert-info" *ngSwitchCase="dataStateEnum.LOADING">
          Loading ...
        </ng-container>
        <ng-container class="alert-danger" *ngSwitchCase="dataStateEnum.ERROR">
          {{coffee.errorMessage}}
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.LOADED">
          <table class="table container-sm">
            <tr>
              <th>name</th>
              <th>price</th>
              <th>quantity</th>
              <th>selected</th>
              <th>available</th>
            </tr>
            <app-coffee-item
              style="display: contents"
              *ngFor="let coffee of coffee.data"
              [coffee]="coffee"
              (selectCoffee)="onSelect($event)"
              (alertAndDeleteCoffee)="onAlertAndDeleteCoffee($event)">
            </app-coffee-item>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </ul>
</div>
