<div>
  <ul>
    <div class="container overflow-auto">
      <ng-container class="container" *ngIf="(coffees$ | async) as coffeeState" [ngSwitch]="coffeeState.dataState">
        <div class="alert alert-success" role="alert" *ngIf="coffeeState.message?.successMessage">
          <h4 class="alert-heading">Well done!</h4>
          <p>{{coffeeState.message.successMessage}}</p>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="coffeeState.message?.errorMessage">
          <h4 class="alert-heading">Alert!</h4>
          <p>{{coffeeState.message.errorMessage}}</p>
        </div>

        <ng-container class="alert-danger" *ngSwitchCase="coffeeStatEnum.LOADING">
          Loading ...
        </ng-container>
        <ng-container class="alert-danger" *ngSwitchCase="coffeeStatEnum.ERROR">

        </ng-container>
        <ng-container *ngSwitchCase="coffeeStatEnum.SUCCESS">
          <div>
            <table class="table container-sm">

                <div >
                  <ul>
                    <app-card *ngFor="let coffee of coffeeState.coffee"
                              [title]="coffee.name"
                              [subTitle]="'sub title'"
                              [description]="'description'"
                              [organisation]="'organisation'"
                              [price]="coffee.price"
                              [startdate]="'startdate'">

                    </app-card>
                  </ul>

                </div>

              <!--<app-coffee-item
                style="display: contents"
                *ngFor="let coffee of coffeeState.coffee"
                [coffee]="coffee">
              </app-coffee-item>-->
            </table>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ul>
</div>

<app-pagination></app-pagination>



