<mdb-carousel [controls]="true" [indicators]="true" [dark]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="assets/img/uriel-soberanes.jpg"
      class="d-block w-100"
      alt="Welcome to your world">
    <div class="carousel-caption d-none d-md-block">
      <h5>Welcome to your world</h5>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="assets/images/restaurant.jpg"
      class="d-block w-100"
      alt="Choose your restaurant"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Choose your restaurant</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="assets/images/header/bar/bar_1.png"
      class="d-block w-100"
      alt="Choose your bar"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Choose your bar</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="assets/images/coffee.jpg"
      class="d-block w-100"
      alt="Choose your coffee"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Choose your coffee</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/images/header/beer/beer_1.png"
      class="d-block w-100"
      alt="Choose your beer"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Choose our beer</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
